body {

    $controls-height: 45px;
    $sidebar-width: 300px;

    #sidebar {
        float: left;
        width: $sidebar-width;

        #controls {
            height: $controls-height;
        }

        #list {
            height: calc(100vh - #{$controls-height});
            overflow-y: scroll;
            overflow-x: hidden;

            .list-point {
                &:hover {
                    background-color: lighten($secondary, 30%);
                }
            }
        }
    }

    #map {
        float: left;
        height: 100vh;
        width: calc(100% - #{$sidebar-width});
    }

}