body {

    $controls-height: 45px;

    #sidebar {
        box-sizing: content-box;
    }

    #list-empty {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5em;
        margin: 0 20px;
        i {
            font-size: 5em;
        }
    }

    #list {
        .list-point {
            &:hover {
                background-color: lighten($secondary, 30%);
            }
        }
    }

    #map {
        float: left;
        height: 100vh;
        width: 100vw;

        .leaflet-sidebar-tabs > .footer {
            position: absolute;
            width: 40px;
            margin: 0;
            padding: 0;
            bottom: 0;
            list-style-type: none;

            a,
            span,
            label {
                width: 100%;
                height: 40px;
                color: black;
                font-size: 12pt;
                overflow: hidden;
                transition: all 80ms;
                display: block;
                line-height: 40px;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                padding: 0;
                margin: 0;
                &:hover {
                    background-color: #f4f4f4;
                }
            }
        }
    }
}